.rent-panel {
    display: flex;
    flex-direction: column;
}

.results-panel{
    margin: 10pt;
    padding: 10pt;
    background-color: #FAFBFC;
}

.material-icons.help-icon {
	color: rgba(0, 0, 0, 0.20);
	font-size: 18px;
}
