:host {
	display: flex;
	width: 100%;
}
.inputs-container{
	flex-grow: 1;
}

.input-field {
	margin: 10px 10px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}