<mat-card class="inputs-container">

    <mat-card-content>

        <mat-form-field class="input-field">
            <input matInput type='number' [(ngModel)]="input.flatPrice" placeholder="Цена квартиры" />
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput type='number' [(ngModel)]="input.currMoney" placeholder="Денег в наличии" />
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput type='number' [(ngModel)]="canPayMonth" placeholder="Могу платить в месяц" />
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput type='number' [(ngModel)]="input.propInflationY"
                placeholder="Удорожание квартиры, % в год" />
            <mat-hint>Через 10 лет квартира будет стоить {{input.propPriceIn10Years | number:'1.0-0'}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput type='number' [(ngModel)]="input.payInflationY" placeholder="Увеличение платежа, % в год" />
            <mat-hint>Через 10 лет макс. платеж будет {{input.canPayIn10Years | number:'1.0-0'}}</mat-hint>
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer class="footer">
        <button mat-flat-button color='primary' (onclick)="applyInput">Пересчитать</button>
    </mat-card-footer>
</mat-card>