:host {
	display: flex;
	width: 100%;
}
.inputs-container{
	flex-grow: 1;
}

.input-field {
	margin: 10px 10px;
}

.material-icons.help-icon {
	margin-left: -10px;
	padding-right: 10px;
	color: rgba(0, 0, 0, 0.20);
	font-size: 18px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}