<div class="main">
    <div class="divBox">
        <div style="width: 70vw; background-color: #FFE0E0; padding: 20px 20px;">
            В процессе работы над новой версией найдены ошибки в старой версии. Эта версия калькулятора производит расчет графика не вполне корректно 
            и некорректно выдает текстовый результат. Эта версия калькулятора заброшена.
        </div>

        <h1>Ипотека или аренда?</h1>

        <h2>Ипотека</h2>
        <h2>Аренда</h2>

        <div class="narrowBox">
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.mortRateY" placeholder="Ставка по ипотеке, % в год" />  
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.propTaxY" placeholder="Налог, страховка, в год" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.comFeesM" placeholder="Коммунальные платежи без счетчиков, мес." />
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.comFeesInflationY" placeholder="Удорожание коммуналки, % в год" />
                <mat-hint>Через 10 лет коммуналка будет {{settings.comFeesIn10Years | number:'1.0-0'}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="narrowBox">
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.propPrice" placeholder="Цена квартиры"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.currMoney" placeholder="Денег в наличии"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.canPayM" placeholder="Могу платить в месяц"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.propInflationY" placeholder="Удорожание квартиры, % в год" />
                <mat-hint>Через 10 лет квартира будет стоить {{settings.propPriceIn10Years | number:'1.0-0'}}</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.payInflationY" placeholder="Увеличение платежа, % в год" />
                <mat-hint>Через 10 лет макс. платеж будет {{settings.canPayIn10Years | number:'1.0-0'}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="narrowBox">
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.rentM" placeholder="Цена аренды в месяц" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.investRateY" placeholder="Ставка по вкладу, % в год" />
                <mat-hint>Через 10 лет на вкладе будет {{settings.investmentIn10Years | number:'1.0-0'}}</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' [(ngModel)]="settings.rentInflationY" placeholder="Удорожание аренды, % в год" />
                <mat-hint>Через 10 лет аренда будет {{settings.rentIn10Years | number:'1.0-0'}}</mat-hint>
            </mat-form-field>
        </div>

        <div>Результат расчета ипотеки</div>
        <div>Результат расчета аренды</div>
    </div>
</div>
