:host{
	display: flex;
    flex-direction: row;
    justify-content: center;
	flex-grow: 1;
	margin-right: 10px;
}
.column{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.column-footer{
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	padding: 10px;
}
.column-footer button{
	flex-grow: 1;
}