<h1>В разработке</h1>
<div style="width: 60vw; background-color: #E0FFE0; padding: 20px 20px;">
	Калькулятор позволяет расчитать минимальные сроки покупки недвижимости по заданным параметрам. 
	Вы можете сравнить что быстрее: снимать квартиру и копить или выплатить ипотеку. 
	Вы можете посмотреть сроки выплаты и накопления, а также графики платежей и накопления.
</div>
<h4>До завершения разработки пожалуйста нажимайте кнопки "Пересчитать" после изменения значений в полях ввода.</h4>

<app-common-settings-panel></app-common-settings-panel>

<div class="column-container">
	<app-column-block class="column"></app-column-block>
</div>

<div class="calc-table-container">
	<app-payment-table></app-payment-table>
</div>
<h5><a [routerLink]="[ '/old' ]">Перейти к старой версии</a></h5>
